/* Página de Base e outros detalhes */
body{
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1{
    color: #12a888;
}

h1, p{
    text-align: center;
    padding-left: 20px;

}

nav {
    background-color: #12a888;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

nav a:hover {
    background-color: #1bd094;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: rgb(153, 188, 130);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

/* Página de Avaliações */
.avaliacoes h1 {
    color: #12a888;
    text-align: center;
    margin-top: 20px;
}

.avaliacoes ul {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.avaliacoes ul li {
    margin: 10px 0;
    font-size: 16px;
    line-height: 2.5;
    list-style-position: inside; 
    padding-left: 20px; 
}

/* Página Fale Conosco */
.fale-conosco h1 {
    color: #12a888;
    text-align: center;
    margin-top: 20px;
}

.fale-conosco form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.fale-conosco form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.fale-conosco form input,
.fale-conosco form textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fale-conosco form button {
    background-color: #12a888;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.fale-conosco form button:hover {
    background-color: #1bd094;
}

/* Página Login */
.login h1 {
    color: #12a888;
    text-align: center;
    margin-top: 20px;
}

.login form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.login form input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login form button {
    background-color: #12a888;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.login form button:hover {
    background-color: #1bd094;
}

/* alinhando cardapio */
.cardapio {
    text-align: center;
}

.cardapio ul {
    display: inline-block; 
    text-align: left; 
    padding: 0;
    margin: 20px auto;
}

.cardapio li {
    margin-bottom: 20px; 
    list-style-type: none;
}

.cardapio li strong {
    font-size: 1.2em; 
}

.cardapio p {
    margin: 5px 0 0; 
    font-style: italic; 
    font-size: 0.9em; 
    color: #555; 
}